<% include ../partials/header %>

  <div class="container">
    <div class="box">
      <div class="row row-offcanvas row-offcanvas-left">
        <!-- /top nav -->

        <div class="padding">
          <div class="row">
            <div class="full col-12">

              <div class="jumbotron">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 text-center">
                    <img src="/images/profile.jpg" alt="" class="center-block img-square img-thumbnail img-responsive"> </div>
                  <!--/col-->
                  <div class="col-xs-12 col-sm-8">
                    <h1 class="display-4">
                      <%= user.name %>
                    </h1>
                    <p>
                      <strong>Email: </strong>
                      <%= user.email %>
                    </p>
                    <% if(user.Profile) { %>
                    <p>
                      <strong>Phone: </strong>
                      <%= user.Profile.phone %>
                    </p>
                    <p>
                      <strong>Web link: </strong>
                      <%= user.Profile.webURL %>
                    </p>
                    <p>
                      <strong>Office: </strong>
                      <%= user.Profile.office %>
                    </p>
                    <p>
                      <strong>Biography: </strong>
                      <%= user.Profile.bio %>
                    </p>
                    <% } %>
                    <div class="my-4">
                        <a href="#" class="btn btn-success  mx-1">Generate CV</a>
                        <a href="/users/personal-website/<%= user.id %>" class="btn btn-primary  mx-1">Generate Website</a>
                    </div>
                  </div>
                  <!--/col-->
                </div>
              </div>
              <% if(!user.Profile) { %>
                <% if(currentUser && user.id == currentUser.id) { %>

                <h2>You don't have a profile! add one now:</h2>
                <form action="profile" method="POST">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">phone</label>
                      <input name="phone" type="number" class="form-control" placeholder="0555555555">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">webURL</label>
                      <input name="webURL" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">office</label>
                    <input name="office" type="text" class="form-control" placeholder="22-24">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Bio</label>
                    <input type="text" name="bio" class="form-control" placeholder="asdfasdf ,asdfa asdfasdfa">
                  </div>
                  <button type="submit" class="btn btn-primary">Add profile</button>
                </form>
                <% } %>
              <% } else if(user.Profile.isApproved == true) {  %>
              <!-- content -->
              <div class="row">
                <div class="panel panel-default">
                  <div class="panel-body">

                  <div class="group">
                    <h3>
                      <span class="fa fa-graduation-cap"></span> Education / Certification</h3>
                      <% user.Profile.Educations.forEach(function(edu){ %>
                        <div class="row groupItem">
                            <div class="col-md-9">
                              <h4>School: <%= edu.school %></h4>
                              <p class="sub">Major: <%= edu.major %></p>
                              <p>GPA: <%= edu.gpa %> / 4.00</p>
                            </div>
                            <div class="year col-md-3">
                              <p>Graduation Date: <%= edu.date %></p>
                              <% if(currentUser && user.id == currentUser.id) { %>
                              <div class="buttons text-right">
                                  <button class="btn btn-warning" data-toggle="modal" data-target="#editModal<%= edu.id %>">Edit</button>
                                  <button onclick="deleteEdu(<%= edu.id %>)" class="btn btn-danger">Delete</button>
                              </div>
                              <% } %>
                            </div>
                          </div>
                          <% include ../partials/editEducationalBackgroundModal.ejs %>
                      <% }); %>
                      <% if(currentUser && user.id == currentUser.id) { %>
                      <div class="buttons">
                          <button class="btn btn-success" data-toggle="modal" data-target="#educationalBackgroundModal">Add Education / Certification</button>
                      </div>
                      <% } %>
                  </div>

                  <!--Education / Certification  end-->

                    <!--Education / Certification  end-->

                    <div class="group">
                      <div class="row my-4">
                        <div class="col-md-12">
                          <h3>
                            <span class="fa fa-briefcase"></span>Work Experience</h3>
                        </div>
                      </div>
                      <% user.Profile.WorkExperiences.forEach(function(work){ %>
                        <% include ../partials/editWork %>
                        <div class="row groupItem">
                          <div class="col-md-9">
                            <h4>
                              <%= work.position %>
                            </h4>
                            <h5>
                              At: <%= work.company %>
                            </h5>
                            <p class="sub">
                            </p>
                            <p>
                              <%= work.info %>
                            </p>
                          </div>
                          <div class="year col-md-3">
                            <p>From:
                              <%= work.startdate %>
                            </p>
                            <p>To:
                              <%= work.enddate %>
                            </p>
                            <% if(currentUser && user.id == currentUser.id) { %>
                            <div class="buttons text-right">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#editWork<%=work.id%>">Edit</button>
                                <button class="btn btn-danger" onclick="deleteWork(<%=work.id%>)">Delete</button>
                            </div>
                            <% } %>
                          </div>
                        </div>
                        <% }) %>
                        <% if(currentUser && user.id == currentUser.id) { %>
                        <button class="btn btn-success" data-toggle="modal" data-target="#workExperienceModal">Add Work Experience</button>
                        <% } %>
                    </div>
                    <!--Job 1 end-->

                    <!-- Publication -->
                    <div class="group">
                      <h3>
                        <span class="fa fa-briefcase"></span> Publications </h3>
                        <% user.Profile.Publications.forEach(function(publication){ %>
                        <% include ../partials/editPubModal %>
                        <div class="row groupItem">
                          <div class="col-md-9">
                            <h4><%= publication.title %></h4>
                            <p>Author: <%= publication.author %></p>
                            <p>Book title: <%= publication.booktitle %></p>
                          </div>
                          <div class="year col-md-3">
                            <p class="text-center"><%= publication.year %> / <%= publication.month %></p>
                            <% if(currentUser && user.id == currentUser.id) { %>
                            <div class="buttons text-right">
                              <button class="btn btn-warning" data-toggle="modal" data-target="#editPub<%= publication.id %>">Edit</button>
                              <button class="btn btn-danger" onclick="deletePublication(<%= publication.id %>, <%= user.id %>)">Delete</button>
                            </div>
                            <% } %>
                          </div>
                          <a class="btn btn-success" href="/publications/<%= publication.id %>">More info</a>
                        </div>
                        <% }) %>
                        <% if(currentUser && user.id == currentUser.id) { %>
                        <button class="btn btn-success" data-toggle="modal" data-target="#publicationModal">Add Publication</button> 
                        <% } %>                       
                    </div>
                  </div>
                </div>
              </div>
              <% } else { %>
                <p>Your profile has not yet been approved by the admin, please try accessing it again in a while.</p>
              <% } %>
              <!-- /padding -->
            </div>
          </div>
          <!-- /main -->
        </div>
      </div>
    </div>
  </div>
  </div>

<% include ../partials/addEducationalBackgroundModal.ejs %>
<% include ../partials/addWorkExperienceModal %>
<% include ../partials/addPublicationModal %>
