<% include ../partials/header %>

  <div class="card mt-5">
    <div class="card-body p-5">
        <h1><%= publication.title %></h1>

        <h4>By <%= publication.author %></h4>
        <div class="text-right">
          <a class="btn btn-primary" href="/users/profile/<%= publication.Profile.UserId %>">Go To Author Page</a>
        </div>
      
        <hr>
      
        <table style="width:100%">
          <tr>
            <th>Book Title:</th>
            <td>
              <%= publication.booktitle %>
            </td>
          </tr>
          <tr>
            <th>Address:</th>
            <td>
              <%= publication.address %>
            </td>
          </tr>
          <tr>
            <th>School:</th>
            <td>
              <%= publication.school %>
            </td>
          </tr>
          <tr>
            <th>Created At:</th>
            <td>
              <%= publication.createdAt %>
            </td>
          </tr>
        </table>
    </div>
  </div>